@CHARSET "UTF-8";

input, button, select, textarea {
	outline: none
}

textarea {
	resize: none
}

.gwt-PopupPanelGlass {
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity = 30);
}

.Caption {
	background: #f0f0f0;
	padding: 10px 5px;
	cursor: default;
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px solid #bbbbbb;
}

.gwt-TextArea {
	border: solid 1px #a0a0a0;
}

.gwt-TextArea:FOCUS {
	border: solid 1px red;
}