.treeItemImage {
	margin-right: 8px;
	vertical-align: middle;
}

@sprite .treeItemSelected {
	gwt-image: "arrow_left_white";
	color: blue;
	cursor: default;
	font-weight: normal;
	background-position: right center;
	background-repeat: no-repeat;
}

.group {
	font-weight: bold;
	cursor: pointer;
}

.entry {
	color: #3d73d5;
	font-weight: normal;
	cursor: pointer;
	line-height: 26px;
}

.entry:HOVER {
	background-color: skyblue;
}

.entrySelected {
	background-color: white;
}

.entrySelected:HOVER {
	background-color: white;
}

.tableHeader {
	font-weight: bold;
}

.name {
	color: red;
}

.type {
	color: darkblue;
}

.typeLink {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

.summary {
	color: green;
}

.text {
	color: black;
}

.row0 {
	background-color: white;
}

.row1 {
	background-color: #f8f8f8;
}

.rowh {
	background-color: white;
}

.cssString {
	color: green;
}

.cssNumber {
	color: darkorange;
}

.cssBoolean {
	color: blue;
}

.cssNull {
	color: magenta;
}

.cssKey {
	color: red;
}

.cssTable {
	background-color: #a0a0a0;
	margin: 10px 0px;
	width: 100%;
	border: 0px;
}

.cssTable td {
	padding: 10px;
}

.pre {
	font-family: 'Anonymous Pro', sans-serif;
}

.entryTitle {
	color: darkblue;
	font-weight: bold;
}

.rowTitle {
	background-color: #f0f0f0;
}

.desc {
	color: green;
	line-height: 28px;
}

.dlg {
	background-color: white;
	border: solid 5px #a0a0a0;
}

.btn {
	background-color: skyblue;
	color: black;
	border: solid 1px darkblue;
	padding: 10px 16px;
}

.btn:HOVER {
	background-color: darkblue;
	color: white;
	border: solid 1px skyblue;
	padding: 10px 16px;
}


.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
} 
