<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>mapway-doc-ui</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>Doc api provider</description>
		<display-name>Doc api provider</display-name>
		<servlet-name>MapwayDocServlet</servlet-name>
		<servlet-class>cn.mapway.document.servlet.MapwayDocServlet</servlet-class>
		<init-param>
			<param-name>author</param-name>
			<param-value>zhangjianshe@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>title</param-name>
			<param-value>测试接口</param-value>
		</init-param>
		<init-param>
			<param-name>subtitle</param-name>
			<param-value>测试接口</param-value>
		</init-param>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>http://localhost:8080/mapway-doc-ui/</param-value>
		</init-param>
		<init-param>
			<param-name>basePath</param-name>
			<param-value>/mapway-doc-ui/</param-value>
		</init-param>
		<init-param>
			<param-name>scanPackages</param-name>
			<param-value>cn.mapway.document.test</param-value>
		</init-param>
		<init-param>
			<param-name>antHome</param-name>
			<param-value>c:\ant</param-value>
		</init-param>
		<init-param>
			<param-name>connectorPackageName</param-name>
			<param-value>cn.mapway.api.connector</param-value>
		</init-param>
		<init-param>
			<param-name>connectorClassName</param-name>
			<param-value>SolaApi</param-value>
		</init-param>
		<init-param>
			<param-name>connectorClassName</param-name>
			<param-value>SolaApi</param-value>
		</init-param>
		<init-param>
			<param-name>copyright</param-name>
			<param-value>2016 mapway.cn</param-value>
		</init-param>
		<init-param>
			<param-name>antHome</param-name>
			<param-value>c:\ant</param-value>
		</init-param>
		<init-param>
			<param-name>connectorPackageName</param-name>
			<param-value>cn.mapway.api.connector</param-value>
		</init-param>
		<init-param>
			<param-name>connectorClassName</param-name>
			<param-value>SolaApi</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MapwayDocServlet</servlet-name>
		<url-pattern>/doc/*</url-pattern>
	</servlet-mapping>
</web-app>